
<!-- /.container-fluid -->
  <div class="container" style="background-color: white;">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align:center;"> Gitten </h1>
        <p> What is Gitten?</p>
        <p> Gitten is a social networking site for hackers and their repos. Styled like Twitter, but with a feed of GitHub commits, Gitten allows you to see the progress of your friends (and rivals!) projects. See the awesome frenzy of commits during hackathons! Watch the degradation of literacy around 3AM! Gitten helps to banish your commit-ment issues, and incentivize development of personal projects, cool hacks, and open-source software. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1> Yves DeSousa </h1>
        <p> Yves is student at Stony Brook University (class of Fall 2014), full-stack web developer, and prophet of the divine feline CAT GOD. They have achieved many great honors, including surviving TA'ing two semesters of advanced software development courses, making their current employer's website's loading icons obsolete and unneeded, and being featured in <a href="http://www.entrepreneur.com/article/237785">Entrepreneur.com</a>. (They were the student "rocking a cat suit".)  </p>
        <p> #praisecatgod </p>
        <ul>
        <li><a href="http://yvds.net">Personal Site</a></li>
        <li><a href="https://github.com/yvds">Github</a></li>
        <li><a href="http://www.yvds.net/img/yvonne%20desousa%20resume.pdf">Resume</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h1> Maximilian Rogers </h1>
        <p> Web Wizard, Mobile Master and MLH Coach Max Rogers is one of the brightest stars to arise from Stony Brook(Fall 2014). A mentor of underclassman and community organizer he has been hands on almost every major event to take place within the Stony Brook Computing Society. Developing the <a href="http://www.unhackathon.org">Unhackathon Website</a>, leading Midterm Reviews and founding Mobile App Developers. Max is never far from the action(as long as there is code to write and snacks to eat).</p><p> #ruby_is_love_ruby_is_life</p>
        <ul>
        <li><a href="http://merogers.me">Personal Site</a></li>
        <li><a href="https://github.com/honeycodedbear">Github</a></li>
        <li><a href="http://boiling-earth-4435.herokuapp.com/img/max_rogers_resume-2.pdf">Resume</a></li>
        </ul>
      </div>
    </div>
  </div>
