
<!-- /.container-fluid -->
  <div class="container" style="background-color: white;">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align:center;"> Gitten </h1>
        <p> What is Gitten?</p>
        <p> Gitten is a social networking site for hackers and their repos. Styled like Twitter, but with a feed of GitHub commits, Gitten allows you to see the progress of your friends (and rivals!) projects. See the awesome frenzy of commits during hackathons! Watch the degradation of literacy around 3AM! Gitten helps to banish your commit-ment issues, and incentivize development of personal projects, cool hacks, and open-source software. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1> Yves DeSousa </h1>
      </div>
      <div class="col-md-6">
        <h1> Max Rogers </h1>
      </div>
    </div>
  </div>
